.flex {
  display: flex;
  border: 1px solid black;
  /* width: 550px; */
  /* height: 550px; */

  justify-content: center;
  /* 
  flex의 주축이라고는 하는데....
  진행하는 방향에 대한 정렬 방식이다. 
  */
  justify-content: flex-start;
  /* flex가 시작하는 위치(대체로 왼쪽) */
  justify-content: flex-end;
  /* flex가 끝나는 위치(대체로 오른쪽) */
  justify-content: space-between;
  /* 양끝을 맞추고 나머지는 균등 정렬 */
  justify-content: space-around;
  /* 균등 정렬, 양끝의 여백이 적다. */
  justify-content: space-evenly;
  /* 그냥 균등 정렬(겉으로 보기에 모든 margin이 같다.) */

  align-items: center;
  /* 
    flex의 진행하는 방향의 직각, 수직 에 대한 정렬 방식이다.
  */

  /* align-items: stretch; */
  /* 늘려준다. */

  flex-wrap: wrap;
  /* 
  넘쳤을때 안줄이고 다음줄로
  기본값은 nowrap
   */

  flex-direction: row;
  /* 가로 진행 방향 */
  /* flex-direction: column; */
  /* 세로 진행 방향 */
}

.flex-item {
  min-width: 100px;
  min-height: 100px;
  background-color: aqua;
  border: 1px solid red;
}
